.slide__wrap{
	width: 460px;
	margin: auto;
	padding-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.slide__box{
	/* width: 5760px; */
	width: 100%;
	/* overflow-x: hidden; */
	margin: auto;
}

.slide__item{
  float: left;
	display: table;
	width: 460px;
	height: 320px;
}

.slide__item img{
	width: 460px;
	height: 320px;
}
