.slide__wrap{
	width: 960px;
	margin: auto;
	padding-bottom: 30px;
	position: relative;
	overflow: hidden;
}

.slide__box{
	width: 5760px;
	/* overflow: hidden; */
	margin: auto;
}

.slide__item{
  float: left;
	/* display: table; */
	width: 960px;
	height: 520px;
}

.slide__item img{
  /* width: 960px;
  height: 520px; */
}